.content .post, .recent-comments {
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}
.block.post {
    background: #fff;
}
.block {
    position: relative;
    background: #fff;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
}

article h1 {
  text-align: center;
  padding: 0.1em 80px 0 80px;
  color: #363636;
  position: relative;
}
article h2 {
  text-align: center;
  padding: 0.1em 80px 0 80px;
  color: #363636;
  position: relative;
}

/*小标*/
.ui.red.ribbon.label {
    border-color: #47456d;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.ui.red.label, .ui.red.labels .label {
    background-color: #97dffd;
    border-color: #97dffd;
    color: #fff;
    margin: 5px 0 15px 2px;
    font-size: 14px;
}
.ui.ribbon.label {
    position: relative;
    margin: 0 .2em;
    left: -3.3rem;
    padding-left: 2rem;
    border-radius: 0 4px 4px 0;
    border-color: rgba(0,0,0,.15);
}
.ui.label:last-child {
    margin-right: 0;
}
.ui.ribbon.label {
    margin-top: 5px;
    margin-bottom: 5px;
}
.ui.label {
    display: inline-block;
    padding: .5em .8em;
}
.ui.ribbon.label:after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    border-top: 0 solid transparent;
    border-right-width: 1em;
    border-right-color: inherit;
    border-right-style: solid;
    border-bottom: 1em solid transparent;
    border-left: 0 solid transparent;
    width: 0;
    height: 0;
}
.ui.label a {
    color: inherit;
}

.article-meta {
    color: #555;
    font-size: 14px;
    word-break: break-word;
    line-height: 20px;
}

.abstract {
  font-size: 1.1rem;
  line-height: 1.8em;
  margin: 1em 0;
  color: #333;
  text-indent: 2em
}
.abstract img {
  max-width: 100%;
  display: block;
}

.article-meta, .more {
  text-align: center;
}
.more a {
  background-color: #96e1fc;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  /*background-color: #e8e8e8;*/
  transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
}
.pages {
  width: 100%;
  margin: 20px auto 0;
  overflow: hidden;
}
.pages a {
  background: #97dffd;
  display: block;
  padding: 8px 10px;
  margin: 0 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
@media (max-width: 800px) {
  .article-list {
    border-radius: 0!important;
  }
  .ui.ribbon.label:after{
    display: none;
  }
}
