.content .post, .recent-comments {
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}
.block.post {
    background: #fff;
    border: 2px solid #97d279;
}
.block {
    position: relative;
    background: #fff;
    padding: 15px;
    margin-bottom: 40px;
    border-radius: 10px;
}
.time {
    background-color: #97d279;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    position: absolute;
    top: -20px;
    left: -35px;
    height: 60px;
    width: 70px;
    padding-top: 10px;
    border-radius: 100px;
    text-align: center;
    color: #EFEFEF;
    z-index:10;
}
.time .month {
    display: block;
}
.time .day {
    font-size: 30px;
    font-weight: 700;
    display: block;
}
article h1 {
  padding: 0.1em 80px 0 80px;
  font-size: 2.2rem;
  text-shadow: 1px 1px #EFEFEF, 3px 3px #AEE2D9;
  color: #22C3AA;
  position: relative;
}
.abstract {
  font-family: Lato,"Microsoft YaHei",sans-serif;
  font-size: 1.1rem;
  line-height: 1.8em;
  margin: 1em 0;
  color: #333;
  text-indent: 2em
}
.more {
  text-align: center;
}
.more a {
  background-color: #96e1fc;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  /*background-color: #e8e8e8;*/
  transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
}
@media (max-width: 800px) {
  .block {
    border-radius: 0!important;
  }
  .time {
    display: none;
  }
  .block.post{
    border: 0;
    border-bottom: 1px solid #97d279;
  }
}
