.headpic {
  height: 280px;
  background: url(/static/xiyang.gif) center -52px no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}

.headtitle {
  top: 100px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 50px;
  position: relative;
  font-family: 'Geo', sans-serif;
  font-size: 34px;
  text-shadow: 0 3px 3px #616066;
}

.title {
  float: left;
}

.title h1 {
  color: #fff;
  font-weight: 300;
  margin: -5px 0 6px 0;
  font-size: 78px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: .02em;
}

.blog .article {
  font-family: PingFang TC, Avenir Next, Helvetica, Arial, Hiragino Sans GB, Microsoft YaHei, sans-serif;
  font-size: 15px;
  color: #444!important;
}

.content {
  position: relative;
}

.list {
  margin-top: 38px;
}

.list .main {
  width: 67%;
  float: left;
  margin-top: -90px;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.list .side {
  width: 30%;
  float: right;
}

@media (max-width: 1000px) {
  .list .main {
    width: 100%!important;
  }
  .list .side {
    display: none!important;
  }
  .headtitle {
    text-align: center;
    top: 100px;
  }
  .back-to-top {
    right: 20px!important;
  }
}

@media (max-width: 700px) {
  .headpic {
    height: 300px!important;
  }
  .headtitle {
    text-align: center;
    top: 100px;
  }
  .back-to-top {
    display: none;
  }
}
