.container {
    max-width: 80%;
    margin: 0 auto;
    position: relative;
}
.container.full {
    max-width: 66%;
}
.container:after {
    clear: both;
    content: "";
    display: table;
}

@media (max-width: 800px) {
    .container {
      max-width: 100%!important;
    }
    .container.full {
      max-width: 100%!important;
    }
    .back-to-top {
      display: none;
    }
    .main-full {
      border-radius: 0px!important;
    }
    .full-content header {
      width: 80%!important;
    }
    .post-content {
      width: 80%!important;
      margin: 0 auto;
    }
}
